* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/Poppins-Medium.woff2') format('woff2'),
        url('../Fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url("../Fonts/Poppins-Bold.woff2") format('woff2'),
        url("../Fonts/Poppins-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/Poppins-Regular.woff2') format('woff2'),
        url('../Fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
header {
    height: 100px;
	display: flex;
	justify-content: space-between ;
	background: #fff;
	width: 100%;
	padding: 0px 93px;
	align-items: center;
	position: relative;
	z-index: 1;

}
header div.left{
}
header div.left div.logo {
    width: 100px;
    margin-left: 4px;
}
header div.left div.logo img{
    display: block;
	width: 100%;
}
header div.middle{
}
header div.middle ul{
    display: flex;
	justify-content: center;
	align-items: center;
    margin-left: 26px;
}
header div.middle ul li{
    margin-right: 35px;
}
header div.middle ul li:last-child{
    margin-right: 0;
}
header div.middle ul li a{
    font-weight: 500;
    font-size: 17px;
    font-family: 'Poppins-Regular';
    color : #000;
}
header div.middle ul li a:hover {
    color : #000;
    font-weight: 600;
	border-bottom: 1.7px solid #000;
}
header div.right {
    display: flex;
    justify-content: flex-end;
}
header div.right ul {
    display: flex;
    justify-content: space-between;
}
header div.right ul li{
    margin-right: 37px;
}
header div.right ul li:last-child{
    margin-right: 0;
}
header div.right ul li a{  
    font-size: 17px;
    font-weight: 600;
    color: #000;
}
header div.right ul li a.button{
    background: #fff;
	border: 1.9px solid #000;
	text-align: center;
	font-size: 17px;
    font-weight: 600;
	padding: 12px 26px;
    border-radius: 3px;
}
section.spotlight {
    padding: 60px 50px;
    display: flex;
    justify-content: space-between;
    background: url(../Assets/landing-page-vector.png) no-repeat;
    background-position: right 148px bottom 55px;
    background-size: 47%;
    height: 712px;
    position: relative;
    z-index: 1;
}
section.spotlight div.left{

}
section.spotlight div.left ul{
    
margin-left: 79px;
}
section.spotlight div.left ul li{
    width: 83%;
}
section.spotlight div.left ul li h1{
    font-weight: 600;
    font-size: 71px;
    width: 320px;
    line-height: 1.2em;
    font-family: 'Poppins';
}
section.spotlight div.left ul li p{
    font-weight: 500;
    font-family: 'Poppins';
    color: #868080;
    margin: 30px 54px 86px;
    font-size: 14px;
    }
section.spotlight div.left ul li a.fill{
    color: #ffffff;
    font-size: 15px;
    background: #8873EF;
    border-radius: 9px;
    padding: 15px 10px;
    font-family: 'Poppins';
}
section.spotlight div.left ul li a.fill img{
    max-width: 18px;
}
section.spotlight div.left ul li a.nofill{
    margin-left: 17px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #000;
    font-size: 14px;
}
section.spotlight div.left ul li a.nofill img{
    width: 15px;
}

section.spotlight div.left div.bottom {
    display: flex;
    justify-content: flex-start;
}
section.spotlight div.left div.bottom ul{
    display: flex;
    justify-content: flex-start;
}
section.spotlight div.left div.bottom ul li{
    margin-right: 22px;
}

section.spotlight div.left div.bottom ul li p{
    text-align: center;
    margin: 27px 0px 10px 0px;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
}
section.spotlight div.left div.bottom ul li a{
}
section.spotlight div.left div.bottom ul li a img{
    width: 69px;
}
section.spotlight div.right {

}
section.spotlight div.right p{
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600;
    max-width: 93%;
    text-align: center;
}










