* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;

}
a:hover,.submit:hover{
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
p{
    line-height:1.6em;
    font-size: 16px;
    font-family: "Poppins", Arial;
    font-weight: 400;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1195px;
}
:root {
    --main-bg-color: #FCDA69;
    --main-heading-color:#18212c;
  }
/*  */
@font-face {
    font-family: 'Inter';
    src: url('../Fonts/Font/Inter-Bold.woff2') format('woff2'),
        url('../Fonts/Font/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../Fonts/Font/Inter-Regular.woff2') format('woff2'),
        url('../Fonts/Font/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../Fonts/Font/Inter-Medium.woff2') format('woff2'),
        url('../Fonts/Font/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/*  */
@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/Poppins-Medium.woff2') format('woff2'),
        url('../Fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    /* font-display: swap; */
}

@font-face {
    font-family: 'Poppins';
    src: url("../Fonts/Poppins-Bold.woff2") format('woff2'),
        url("../Fonts/Poppins-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    /* font-display: swap; */
}

@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/Poppins-Regular.woff2') format('woff2'),
        url('../Fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* font-display: swap; */
}
header {
    height: 100px;
    display: flex;
    justify-content: space-between ;
    background: #fff;
    width: 100%;
    padding: 0px 93px;
    align-items: center;
    position: relative;
    z-index: 1;

}
header div.left{
}
header div.left div.logo {
    width: 100px;
    margin-left: 4px;
}
header div.left div.logo img{
    display: block;
    width: 100%;
}
header div.middle{
}
header div.middle ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 26px;
}
header div.middle ul li{
    margin-right: 35px;
}
header div.middle ul li:last-child{
    margin-right: 0;
}
header div.middle ul li a{
    font-weight: 500;
    font-size: 14px;
    color: #000;
    font-family: 'Poppins';
}
header div.middle ul li a:hover {
    color : #000;
    font-weight: 600;
    border-bottom: 1.7px solid #000;
}
header div.right {
    display: flex;
    justify-content: flex-end;
}
header div.right ul {
    display: flex;
    justify-content: space-between;
}
header div.right ul li{
    margin-right: 37px;
}
header div.right ul li:last-child{
    margin-right: 0;
}
header div.right ul li a{  
    font-size: 17px;
    font-weight: 600;
    color: #000;
}
header div.right ul li a.button{
    background: #fff;
    border: 1.9px solid #000;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 3px;
}
#spotlight {
    padding: 60px 50px;
    display: flex;
    justify-content: space-between;
    background: url(../Assets/landing-page-vector.png) no-repeat;
    background-position: right 53px bottom 37px;
    background-size: 51%;
    height: 735px;
    position: relative;
    z-index: 1;
}
#spotlight div.left{
}
#spotlight div.left ul{
    margin-left: 45px;
}
#spotlight div.left ul li{
    width: 66%;
}
#spotlight div.left ul li h1{
    font-weight: 600;
    font-size: 71px;
    width: 320px;
    line-height: 1.2em;
    font-family: 'Poppins';
}
#spotlight div.left ul li p{
    font-weight: 500;
    font-family: 'Poppins';
    color: #868080;
    margin: 31px 50px 84px 50px;
    font-size: 14px;
    }
#spotlight div.left ul li a.fill{
    color: #ffffff;
    font-size: 13px;
    background: #8873EF;
    border-radius: 9px;
    padding: 15px 21px;
    font-family: 'Poppins';
}
#spotlight div.left ul li a.fill img.tel{
    margin-left: 17px;
    max-width: 18px;
}
#spotlight div.left ul li a.nofill{
    margin-left: 17px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #000;
    font-size: 14px;
}
#spotlight div.left ul li a.nofill img{
    width: 15px;
}

#spotlight div.left div.bottom {
    display: flex;
    justify-content: flex-start;
    padding: 100px 0 0 0;
}
#spotlight div.left div.bottom ul{
    display: flex;
    justify-content: space-between;
}
#spotlight div.left div.bottom ul li{
    
}
#spotlight div.left div.bottom ul li:first-child{
    margin-right: 52px;
    max-width: 74px;
}
#spotlight div.left div.bottom ul li div.para {

}
#spotlight div.left div.bottom ul li div.para p{
    text-align: center;
    margin: 19px 0 32px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
}
#spotlight div.left div.bottom ul li a{
}
#spotlight div.left div.bottom ul li a img{
    width: 64px;
    margin-top: 15px;
}
#spotlight div.right {
}
#spotlight div.right div {
text-align: center;
margin: 14px 41px 0;
}
#spotlight div.right div p{
    font-size: 19px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 1.7em;
}
#services {
    background: #FCDA69;
    padding: 20px 20px;

}
#services div.left{
    /* width: 56px; */
    margin: 86px;
}
#services div.left h1{
    font-weight: 600;
    font-size: 66px;
    width: 31%;
    line-height: 1.4em;
}
#services div.left p{
    font-size: 15px;
    font-weight: 500;
    color: #686262;
    margin-left: 59px;
    margin-top: 15px;
    width: 36%;
}
#services div.right {
    display: flex;
    justify-content: flex-end;
}
#services div.right div.items{
    max-width: 360px;

}
#services div.right div.item{
    margin-bottom: 120px;

}
#services div.right div.item h4{
    /* margin-bottom: 20px; */
    font-size: 24px;
    font-weight: 700;
}
#services div.right div.item h2{
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
}

#services div.right div.item a{
    font-size: 23px;
    font-weight: 500;
    color: #000;
}
#services div.right div.item a.arrow{
    width: 44px;
}
#services div.right div.item a.arrow img{
}
#services div.right div.item hr.line{
    border-bottom: 2px solid #686262;
    width: 50%;
}

#services div.bottom{
    
}

#projects {
    background: #FCDA69;
    padding: 65px 0;
    position: relative;
}
#projects div.head {
    /* padding-left: 86px; */
}

#projects div.head h3 {
    font-size: 65px;
    font-weight: 600;
    width: 28%;
    line-height: 1.5em;
    color: #282A39;
    letter-spacing: 0.02em;
}
#projects div.content {
    position: relative;
}
#projects div.content ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* margin: 0; */
}
#projects div.content ul li {
    margin: 60px 0px 0 18px;
}

#projects div.content ul li div.sub_head {
    position: relative;
}
#projects div.content ul li div.sub_head h4 {
    color: #282A39;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.7em;
    width: 55%;
}
#projects div.content ul li p {
    font-size: 13px;
    line-height: 1.5em;
    color: #000;
    font-weight: 600;
    width: 39%;
    margin-bottom: 23px;
    }
#projects div.content ul li div.arrow {
    width: 10%;
    position: absolute;
    left: 64%;
    top: 5%;
}
#projects div.content ul li div.sub_head div.arrow img {
    display: block;
    width: 100%;
}
#projects div.content ul li div.template {
    width: 73%;
}
#projects div.content ul li div.template img {
    width: 100%;
    display: block;
}
#projects div.content ul li:first-child div.template {
    max-width: 75%;
}
#projects div.content ul li:first-child div.template img {
    width: 100%;
    display: block;
}


#projects div.content ul li:nth-child(2) {
    position: absolute;
    bottom: 23%;
    left: 33%;
}
#projects div.content ul li:nth-child(2) hr.line {
    border-top: 2px solid #806f36;
    width: 69%;
    margin-bottom: 12px;
}
#projects div.content ul li:nth-child(2) div.sub_head h4 {
    color: #282A39;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.7em;
    width: 49%;
}
#projects div.content ul li:nth-child(2) div.arrow {
    position: absolute;
    left: 63%;
    top: 5%;
}
#projects div.content ul li:nth-child(2) div.template {
    max-width: 75%;
}
#projects div.content ul li:nth-child(2) div.template img {
    width: 100%;
    display: block;
}

#projects div.content ul li:nth-child(3) hr.line {
    border-top: 2px solid #806f36;
    width: 100%;
    margin-bottom: 12px;
}
#projects div.content ul li:nth-child(3) {
    position: absolute;
    bottom: 47%;
    left: 66%;
}
#projects div.content ul li:nth-child(3) div.sub_head h4 {
    color: #282A39;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.7em;
    width: 77%;
}
#projects div.content ul li:nth-child(3) div.arrow {
    width: 13%;
    position: absolute;
    left: 87%;
    top: 5%;
}
#projects div.content ul li:nth-child(3) div.template {
    width: 95%;
}
#projects div.content ul li:nth-child(3) div.template img {
    width: 100%;
    display: block;
}

#projects div.content ul li hr.line {
    border-top: 2px solid #806f36;
    width: 70%;
    margin-bottom: 12px;
}
#projects div.icon {
    width: 13%;
    position: absolute;
    left: 80%;
    bottom: 8%;
}

#projects div.icon img {
display: block;
width: 100%;
}